<!DOCTYPE html>
<html lang="en">
<body>
  <div class="container ml-3">
    <h1 class="mb-2">Result</h1>
    <h3><%= @text %></h3>
    <button class="btn btn-warning mt-2" value="Play Again!"> <%= link_to 'Play Again!', new_path %> </button>
  </div>
</body>
</html>

